.gradle/
jetty/
shared/
.idea/
build/
clearth-modules/build/
clearth-modules/clearth-gui/build/
clearth-modules/clearth-style/build/
clearth-modules/clearth-swift/build/
clearth-modules/clearth-xml/build/
/.project
/.settings/org.eclipse.buildship.core.prefs
/clearth-modules/.classpath
/clearth-modules/.project
/clearth-modules/.settings/org.eclipse.buildship.core.prefs
/clearth-modules/clearth-gui/.classpath
/clearth-modules/clearth-gui/.project
/clearth-modules/clearth-gui/.settings/org.eclipse.buildship.core.prefs
/clearth-modules/clearth-style/.classpath
/clearth-modules/clearth-style/.project
/clearth-modules/clearth-style/.settings/org.eclipse.buildship.core.prefs
/clearth-modules/clearth-swift/.classpath
/clearth-modules/clearth-swift/.project
/clearth-modules/clearth-swift/.settings/org.eclipse.buildship.core.prefs
/clearth-modules/clearth-xml/.classpath
/clearth-modules/clearth-xml/.project
/clearth-modules/clearth-xml/.settings/org.eclipse.buildship.core.prefs