<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<servlet>
		<servlet-name>Report Servlet</servlet-name>
		<servlet-class>com.exactprosystems.clearth.web.misc.ReportDownloadServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>BUFFER_SIZE</param-name>
			<param-value>4096</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Report Servlet</servlet-name>
		<url-pattern>/reports/*</url-pattern>
	</servlet-mapping>
  
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
		<param-value>6LfwZwoAAAAAAEhRyntKF1PBzysAJLzqp2v-GMRR</param-value>
	</context-param>

	<context-param>
		<param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
		<param-value>6LfwZwoAAAAAAI-oUHpdvRnkMfu9fXQHxc0P7IBu</param-value>
	</context-param>

	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>#{guestPreferences.theme}</param-value>
	</context-param>
	
	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<param-name>org.apache.myfaces.LOG_WEB_CONTEXT_PARAMS</param-name>
		<param-value>false</param-value>
	</context-param>
	
	<context-param>
		<param-name>org.apache.myfaces.config.annotation.LifecycleProvider</param-name>
		<param-value>org.apache.myfaces.config.annotation.NoInjectionAnnotationLifecycleProvider</param-value>
	</context-param>
	
	
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	
	<filter>
		<filter-name>Character Encoding Filter</filter-name>
		<filter-class>com.exactprosystems.clearth.web.filters.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Character Encoding Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>com.exactprosystems.clearth.web.filters.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ui/restricted/*</url-pattern>
		<url-pattern>/reports/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class> 
	</listener>

	<listener>
		<listener-class>com.exactprosystems.clearth.web.misc.SessionEventListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
		<init-param>
			<param-name>dirAllowed</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>

	<session-config>
		<session-timeout>3</session-timeout>
	</session-config>

	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/ui/session_expired.jsf</location>
	</error-page>

	<mime-mapping>
		<extension>woff</extension>
		<mime-type>application/font-woff</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>eot</extension>
		<mime-type>application/vnd.ms-fontobject</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>ttf</extension>
		<mime-type>application/font-ttf</mime-type>
	</mime-mapping>
	
	<mime-mapping>
		<extension>csv</extension>
		<mime-type>text/csv</mime-type>
	</mime-mapping>
	
	<mime-mapping>
		<extension>cfg</extension>
		<mime-type>text/cfg</mime-type>
	</mime-mapping>

	<context-param>
		<param-name>session_expired_page</param-name>
		<param-value>/ui/session_expired.jsf</param-value>
	</context-param>

	<context-param>
		<param-name>use_modal_dialog</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- shut down hook -->
	<listener>
		<listener-class>com.exactprosystems.clearth.web.misc.ShutDownHookListener</listener-class>
	</listener>

</web-app>